<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppdai.ac.sms.consumer.core.dao.mapper.smsbase.BusinessProviderMapper">

    <select id="findBusinessProviderByBusinessId" parameterType="Integer"
            resultType="com.ppdai.ac.sms.consumer.core.model.entity.BusinessProviderDTO">
        SELECT * FROM BusinessProvider where businessId=#{businessId} AND IsActive=1
    </select>

    <select id="findBusinessProviderByBusinessIdAndMessageKind"
            resultType="com.ppdai.ac.sms.consumer.core.model.entity.BusinessProviderDTO">
        SELECT * FROM BusinessProvider where businessId=#{businessId} AND Messagekind=#{messageKind} AND IsActive=1
    </select>
</mapper>